div{
  height: 60vh;
  width: 30vw;
  min-width: 70vw;
  box-shadow: 50px black;
  background-color: whitesmoke;
  border: 1px rgb(223, 119, 44) solid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  margin: 0px auto;
  max-width: 500px;
  overflow: hidden;
  min-height: 70vh;

}
input{
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;


}
button{
  border-radius: 5px;
  background-color: rgb(223, 119, 44);
  color: white;
  padding: 10px;
}

h1{
  color:  rgb(209, 91, 6) ;
}